@mainColor: #e95525;
.head-logo{
  width: 100%;
  max-height: 220px;
}


.listContent{
  margin-left: 10px;
  color: #7b7b7b;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
    .smLeft{
      width: 50px;
        img{
            width: 100%;
        }
    }
    .smRight{
        .openCode{
            width: 20px;
            height: 20px;
            border-radius: 15px;
            text-align: center;
            line-height: 20px;
            color: #fff;
            margin: 10px 2px 5px 2px;
            background-color: @mainColor;
        }
        .waitCode{
            color: @mainColor;
            font-size: 16px;
            margin-top: 3px;
        }
        .openTitle{
            font-size: 20px;
            margin: 10px 5px;
        }
        .serialCode{
            text-align: right;
            white-space: nowrap;
        }
        .openTime{
            font-size: 16px;
            text-align: right;
            margin-top: 4px;
            white-space: nowrap;
        }
    }
}
@media screen and (min-width: 769px) {
    .listContent{
        font-size: 18px;
        .smRight{
            .openCode{
                width: 24px;
                height: 24px;
                border-radius: 15px;
                line-height: 24px;
                margin: 20px 2px 5px 2px;
            }
            .openTime{
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
}
