<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<dict>
			<key>name</key>
			<string>冠军</string>
			<key>type</key>
			<string>S1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>亚军</string>
			<key>type</key>
			<string>S2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第三名</string>
			<key>type</key>
			<string>S3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第四名</string>
			<key>type</key>
			<string>S4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第五名</string>
			<key>type</key>
			<string>S5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第六名</string>
			<key>type</key>
			<string>S6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第七名</string>
			<key>type</key>
			<string>S7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第八名</string>
			<key>type</key>
			<string>S8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第九名</string>
			<key>type</key>
			<string>S9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>第十名</string>
			<key>type</key>
			<string>S10</string>
		</dict>
	</array>
	<key>items</key>
	<array>
		<dict>
			<key>code</key>
			<string>1号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>2号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>3号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>4号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>5号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>6号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>7号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>8号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>9号</string>
		</dict>
		<dict>
			<key>code</key>
			<string>10号</string>
		</dict>
	</array>
</dict>
</plist>
