.head-menu{
  height: 46px;
  line-height: 46px;
  background: #404040;
  color: rgba(255,255,255,0.67);
  font-size: 14px;
}
.back{
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}
.title{
  text-align: center;
}
