.contain{
    background: #efefef;
    height: 100%;
    .containList{
        background: #fff;
        margin: 3px 0;
        padding: 0 10px;
        height: 50px;
        width: 100%;
        line-height: 50px;
        .listRight{
            text-align: right;
        }
    }
}